@keyframes spin
{
0%   { left:0px; top:0px;}
25%  { left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  {left:0px; top:200px;}
100% { left:0px; top:0px;}
}
.box{
     margin: auto;
}
.leaf{
position: relative;
width: 200px;
margin: 0 auto;
-webkit-animation-name:spin;
-webkit-animation-duration:3s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
-webkit-transform-style: preserve-3d;
-webkit-perspective-origin: 50% 50%;
}

.leaf1 { 
border-radius: 5px 300px 3px 300px; 
background: #6DC75F; 
width: 150px; 
height: 150px; 
} 


