*{
	margin: 0;
	padding: 0;
}
.daizi{
       width: 130px;
       height: 130px;
}
.xiezi{
	   width: 100px;
	   height: 100px;
	   background-color: orange;
}
.xiehe{
	  margin: 100px;
	  padding: 10px;
	  width: 100px;
	  height: 100px;
	  background-color: aqua;
	  border:5px solid red;
}



.daizi1{
       width: 130px;
       height: 130px;
}
.xiezi1{
	   width: 100px;
	   height: 100px;
	   background-color: orange;
}
.xiehe1{
	  margin: 100px;
	  padding: 10px;
	  width: 130px;
	  height: 130px;
	  background-color: aqua;
	  border:5px solid red;
	  box-sizing: border-box;
}