.box{
	margin:5px;
	text-align: center;
}
.header{
	   height: 50px;
	   margin:10px;
	   background-color: blue;
}
.con{
     margin:10px;
     overflow: hidden;
     position: relative;
}
.middle{
	   height: 30px;
	   background-color: white;
       float: left;
       width: 100%;       
}
.inner{
	   height: 30px;
	   margin-left:130px ;
	   margin-right:130px;
	   background-color: #BBA783;
}
.left{
	  height: 30px;
	  width: 100px;
	  background-color: orange;
	  float: left;
	  margin-left: -100%;
	  
}
.right{
	   height: 30px;
	   width: 100px;
	   background-color: yellow;
	   float: left;
	   margin-left: -100px;
}
.footer{
	    height: 50px;
	    background-color: green;
	    margin:10px;
}